/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1B2A35;
  padding: 20px 40px;
  color: white;
}

.App-logo img {
  height: 50px;
}

.App-nav {
  display: flex;
  justify-content: flex-start;
  margin-left: 150px;
}

.App-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 80px;
}

.App-nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.App-nav a.active {
  text-decoration: underline;
}

.App-nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

/* Styling for the home page content */
.home-content {
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f7f9fc;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.home-content h1 {
  font-size: 36px;
  color: #2c3e50;
  margin-bottom: 20px;
}

.home-content h2 {
  font-size: 28px;
  color: #2c3e50;
  margin-top: 30px;
}

.home-content p {
  font-size: 18px;
  line-height: 1.6;
  color: #34495e;
  margin-bottom: 20px;
}

/* Bird slider styling */
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.bird-slider {
  display: flex;
  justify-content: space-around;
  width: 80%;
  gap: 20px; /* Add spacing between the cards */
}

.bird-card {
  position: relative;
  cursor: pointer;
  width: 300px; /* Make the cards more square by setting equal width and height */
  height: 300px;
  perspective: 1000px;
  margin: 0 10px; /* Add margin between cards */
}

.bird-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bird-card .card-front, .bird-card .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;
  border-radius: 8px;
}

.bird-card .card-front {
  transform: rotateY(0deg);
}

.bird-card .card-back {
  transform: rotateY(180deg);
  background-color: #fff;
  color: #2c3e50;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 100%;
}

.bird-card.flipped .card-front {
  transform: rotateY(180deg);
}

.bird-card.flipped .card-back {
  transform: rotateY(360deg);
}

/* Arrow buttons */
.slider-arrow {
  background: none;
  border: none;
  font-size: 36px;
  cursor: pointer;
  color: #1B2A35;
}

.slider-arrow:disabled {
  color: lightgray;
  cursor: not-allowed;
}
